<h3>Sign Up!</h3>
<p>Fill up the form below to sign up. This application allows you post questions, reply to questions or vote for posts!</p>
<%= render 'form' %>

<%= link_to 'Already signed up? Sign In!', '/users' %>
